body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    background-color: #161819;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-container {
    gap: 20px;
    margin-bottom: 10px;
}

button {
    font-family:'Courier New', Courier, monospace ;
    border: none;
    background-color: rgb(46, 49, 42);
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    transition: .3s ease-in;
}

.blocks-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 400px;
    gap: 5px;
}

.block {
    width: 72px;
    height: 72px;
    background-color: #303436;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    transition: .2s linear;
}

.animate {
    animation: animate 0.1s alternate;
}


@keyframes animate {
    to {transform: scale(1.1);}
}

h1 {
    color: white;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#start {
    width: 200px;
}

.minus {
    opacity: .7;
}

span {
    width: 100%;
    height: 1px;
    background-color: rgba(48, 52, 54, 0.4);
    margin-bottom: 30px;
}

.image {
    background-color: rgb(46, 49, 42);
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    opacity: 0;
    z-index: -1;
}

.card-inner {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.card-inner h1 {
    color: green;
    margin-top: 170px;
    transform: translateY(-100%);
}

.card-inner button {
    width: 150px;
    height: max-content;
    padding: 5px;
    background-color: green;
}

.card-active {
    display: flex;
    opacity: 1;
    z-index: 1;
}

.keys {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: -1;
}

.section {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    color: white;
    font-size: 30px;
    flex-wrap: wrap;
    margin-right: 20px;
}

p {
    padding: 0;
    margin: 0;
    margin-right: 20px;
}